  <!-- Content - início -->
  <div class="container">
    <div class="row">
      <!-- Main - início -->
      <main class="col-12 col-md-8">
        <!-- Políticas de Privacidade - início -->
        <section class="row my-4">
          <!-- Políticas I - início -->
          <div class="post shadow-sm bg-white rounded-sm p-3 pt-5 my-4 mx-3 mx-md-1 d-flex flex-row flex-wrap">
            <article class="col-12 col-md-10 d-flex flex-wrap px-0">
              <h4 class="text-dark">Políticas de Privacidade</h4>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <h5 class="text-dark mt-3">Políticas de Privacidade 1.1</h5>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <h5 class="text-dark mt-3">Políticas de Privacidade 1.2</h5>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
            </article>
          </div>
          <!-- Políticas I - final -->

          <!-- Políticas II - início -->
          <div class="post shadow-sm bg-white rounded-sm p-3 pt-5 my-4 mx-3 mx-md-1 d-flex flex-row flex-wrap">
            <article class="col-12 col-md-10 d-flex flex-wrap px-0">
              <h4 class="text-dark">Termos de Uso</h4>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <h5 class="text-dark mt-3">Termos de Uso 1.1</h5>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
              <h5 class="text-dark mt-3">Termos de Uso 1.2</h5>
              <p class="text-black-50 text-justify mt-3">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Aenean aliquam molestie leo, vitae iaculis nisl. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
            </article>
          </div>
          <!-- Políticas II - final -->

        </section>
        <!-- Políticas de Privacidade - final -->
      </main>
      <!-- Main - final -->


      <!-- Aside - início -->
      <aside class="col-12 col-md-4 pl-4 my-4">
          <!-- Aside Nav > Principais Perguntas - início -->
          <article class="col-12 d-flex flex-row shadow-sm bg-white rounded-sm p-3 my-4 sticky-top" id="asideTopoTopPerguntas">
            <section class="col-12">
              <a href="index.html" target="_self" rel="next" title="Acesse todas as perguntas">
                <h4 class="text-dark">Principais Perguntas</h4>
              </a>
              <hr class="col-auto">
              <ul class="list-group text-black-50">
                <li class="list-group-item border-left-0 border-right-0 border-top-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como configurar meu localhost?">Como configurar meu localhost?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como capturar dados de uma API?">Como capturar dados de uma API?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como registrar dados em um banco?">Como registrar dados em um banco?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como transformar JSON em um Objeto?">Como transformar JSON em um Objeto?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como transformar JSON em um Array?">Como transformar JSON em um Array?</a></li>
                <li class="list-group-item border-left-0 border-right-0 border-bottom-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como salvar um novo usuário cadastrado?">Como salvar um novo usuário cadastrado?</a></li>
              </ul>
            </section>
          </article>
          <!-- Aside Nav > Principais Perguntas - final -->
          <!-- Aside Nav > Enquete da Semana - início -->
          <article class="col-12 d-flex flex-row shadow-sm bg-white rounded-sm p-3 my-4 sticky-top" id="asideTopoEnq">
            <section class="col-12">
              <a href="#" target="_self" rel="next" title="Acesse todas as enquetes">
                <h4 class="text-dark">Enquete da Semana</h4>
              </a>
              <hr class="col-auto">
              <p>Qual tema está estudando essa semana?</p>
              <!-- Progress Bar #01 -->
              <div class="row d-flex flex-row flex-nowrap mb-3">
                <div class="progress col-9 pl-0 mr-auto ml-3" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 48%;" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100">POO</div>
                </div>
                <button class="btn btn-secondary col-2 py-0" aria-label="selecionar">&#10003;</button>
              </div>
              <!-- Progress Bar #02 -->
              <div class="row d-flex flex-row flex-nowrap mb-3">
                <div class="progress col-9 pl-0 mr-auto ml-3" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 21%;" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100">POO</div>
                </div>
                <button class="btn btn-success col-2 py-0" aria-label="selecionar">&#10003;</button>
              </div>
              <!-- Progress Bar #03 -->
              <div class="row d-flex flex-row flex-nowrap mb-3">
                <div class="progress col-9 pl-0 mr-auto ml-3" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 16%;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">PDO</div>
                </div>
                <button class="btn btn-secondary col-2 py-0" aria-label="selecionar">&#10003;</button>
              </div>
              <!-- Progress Bar #04 -->
              <div class="row d-flex flex-row flex-nowrap mb-3">
                <div class="progress col-9 pl-0 mr-auto ml-3" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 8%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">POO</div>
                </div>
                <button class="btn btn-secondary col-2 py-0" aria-label="selecionar">&#10003;</button>
              </div>
              <!-- Progress Bar #05 -->
              <div class="row d-flex flex-row flex-nowrap mb-3">
                <div class="progress col-9 pl-0 mr-auto ml-3" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 7%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100">POO</div>
                </div>
                <button class="btn btn-secondary col-2 py-0" aria-label="selecionar">&#10003;</button>
              </div>
              <small class="text-muted">Votações até dia 01/10/2019</small>
            </section>
          </article>
          <!-- Aside Nav > Enquete da Semana - final -->
          <!-- Aside Nav > Categorias - início -->
          <article class="col-12 d-flex flex-row shadow-sm bg-white rounded-sm p-3 my-4 sticky-top" id="asideTopoCat">
            <section class="col-12">
              <a href="index.html" target="_self" rel="next" title="Acesse todas as Categorias">
                <h4 class="text-dark">Principais Categorias</h4>
              </a>
              <hr class="col-auto">
              <ul class="list-group text-black-50">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0"><a href="categoria.html" class="text-black-50" target="_self" rel="next" title="Saiba mais sobre Mercado de Programação">Mercado de Programação</a><span class="badge badge-secondary badge-pill">34</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0"><a href="categoria.html" class="text-black-50" target="_self" rel="next" title="Saiba mais sobre Conceitos e Paradigmas">Conceitos e Paradigmas</a><span class="badge badge-secondary badge-pill">21</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0"><a href="categoria.html" class="text-black-50" target="_self" rel="next" title="Saiba mais sobre Metodologias">Metodologias</a><span class="badge badge-secondary badge-pill">13</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0"><a href="categoria.html" class="text-black-50" target="_self" rel="next" title="Saiba mais sobre Sintaxe, Variáveis e Funções">Sintaxe, Variáveis e Funções</a><span class="badge badge-secondary badge-pill">8</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0"><a href="categoria.html" class="text-black-50" target="_self" rel="next" title="Saiba mais sobre Front End">Front End</a><span class="badge badge-secondary badge-pill">5</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0"><a href="categoria.html" class="text-black-50" target="_self" rel="next" title="Saiba mais sobre Back End">Back End</a><span class="badge badge-secondary badge-pill">3</span></li>
              </ul>
            </section>
          </article>
          <!-- Aside Nav > Categorias - final -->
          <!-- Aside Nav > Minhas Perguntas - início -->
          <article class="col-12 d-flex flex-row shadow-sm bg-white rounded-sm p-3 my-4 sticky-top" id="asideTopoMinhasPerguntas">
            <section class="col-12">
              <a href="#" target="_self" rel="next" title="Acesse todas as perguntas">
                <h4 class="text-dark">Minhas Perguntas</h4>
              </a>
              <hr class="col-auto">
              <ul class="list-group text-black-50">
                <li class="list-group-item border-left-0 border-right-0 border-top-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como configurar meu localhost?">Como configurar meu localhost?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como capturar dados de uma API?">Como capturar dados de uma API?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como registrar dados em um banco?">Como registrar dados em um banco?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como transformar JSON em um Objeto?">Como transformar JSON em um Objeto?</a></li>
                <li class="list-group-item border-left-0 border-right-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como transformar JSON em um Array?">Como transformar JSON em um Array?</a></li>
                <li class="list-group-item border-left-0 border-right-0 border-bottom-0 px-0"><a href="pergunta.html" class="text-black-50" rel="next" target="_self" title="Como salvar um novo usuário cadastrado?">Como salvar um novo usuário cadastrado?</a></li>
              </ul>
            </section>
          </article>
          <!-- Aside Nav > Minhas Perguntas - final -->
          <!-- Aside Nav > Ir para o Topo - início -->
          <a href="#top" class="btn btn-success border-0 my-2 my-sm-0 ml-auto text-white float-right sticky-top" aria-label="topo" id="irParaTopo">Topo</a>
          <!-- Aside Nav > Ir para o Topo - final -->
      </aside>
      <!-- Aside - final -->


    </div>
  </div>
  <!-- Content - final -->